:host{
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
      
}
:host::-webkit-scrollbar {
    width: 8px;
  }
  :host::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
  }